<ion-view  view-title="Change Password">
	<ion-content class="padding">
		<form ng-submit="doChange()" ng-controller="ChangePasswordCtrl">
			<div class="list card">
			  <label class="item item-input item-floating-label">
			    <span class="input-label">Old Password</span>
			    <input ng-model="changeData.oldpassword" type="password" placeholder="Your Old Password" >
			  </label>
			  <label class="item item-input item-floating-label">
			    <span class="input-label">New Password</span>
			    <input ng-model="changeData.newpassword" type="password" placeholder="Your New Password">
			  </label>
			  <label class="item item-input item-floating-label">
			    <span class="input-label">Confirm New Password</span>
			    <input ng-model="changeData.confirmpassword" type="password" placeholder="Confirm Your New Password">
			  </label>
			  <label class="item">
			  	<button class="button button-assertive button-block" type="submit">Save</button>
			  </label>
			</div>
		</form>
	</ion-content>
</ion-view>